@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
}

<h2>Senha enviada com sucesso</h2>
    <script type="text/javascript">
        parent.$('#dialog').dialog('close');
        parent.jAlert("Foi enviado um email com a nova senha.", "Mensagem");
    </script>