@model UFC.Models.ForgotPasswordModel
           
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
}

<h2>Entre com seu email que enviaremos uma nova senha</h2>
@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <p>
                <input type="submit" value="Enviar senha" />
            </p>
        </fieldset>
    </div>
}