@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
}

<h2>Cadastro efetuado com sucesso</h2>
    <script type="text/javascript">
        parent.$('#dialog').dialog('close');
        parent.jAlert("Seu cadastro foi efetuado com sucesso, você receberá um email com instruções sobre como ativar sua conta.", "Mensagem");
    </script>